<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


    <link rel="stylesheet" href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.0.dela" th:href="@{/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.0.dela}" />
    <link rel="stylesheet" href="http://zavoloklom.github.io/material-design-iconic-font/css/docs.md-iconic-font.min.css" th:href="@{http://zavoloklom.github.io/material-design-iconic-font/css/docs.md-iconic-font.min.css}" />
    <link rel="stylesheet" href="/vendors/bower_components/animate.css/animate.min.css" th:href="@{/vendors/bower_components/animate.css/animate.min.css}" />
    <link rel="stylesheet" href="/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css" th:href="@{/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css}" />
    <link rel="stylesheet" href="/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" th:href="@{/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css}" />

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous" th:href="@{https://code.jquery.com/jquery-3.2.1.js}"></script>

    <link rel="stylesheet" href="/css/app.min.css" th:href="@{/css/app.min.css}" />
</head>

<body data-ma-theme="red">
<main class="main">
    <div class="page-loader">
        <div class="page-loader__spinner">
            <svg viewBox="25 25 50 50">
                <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <header class="header">
        <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
            <div class="navigation-trigger__inner">
                <i class="navigation-trigger__line"></i>
                <i class="navigation-trigger__line"></i>
                <i class="navigation-trigger__line"></i>
            </div>
        </div>

        <div class="header__logo hidden-sm-down">
            <h1><a href="#">Heart Car</a></h1>
        </div>
        <ul class="top-nav">
            <li class="dropdown hidden-xs-down">
                <a href="#" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/logout" class="dropdown-item">Log out</a>
                </div>
            </li>
        </ul>
    </header>
    <aside class="sidebar">
        <div class="scrollbar-inner">
            <div class="user">
                <div class="user__info" data-toggle="dropdown">
                    <img class="user__img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" />
                    <div>
                        <div class="user__name"><span th:text="${user.employer.name}"></span> <span th:text="${user.employer.surname}"></span></div>
                        <div class="user__email"><span th:text="${user.email}"></span></div>
                    </div>
                </div>
            </div>
            <ul class="navigation">
                <li class="@@typeactive"><a th:href="@{/index}"><i class="zmdi zmdi-home"></i> Home</a></li>

                <li id="employer-navigation " class="@@typeactive ">
                    <a th:href="@{/employer}"><i class="zmdi zmdi-male"></i> Employers</a>
                </li>

                <li id="user-navigation " class="@@typeactive">
                    <a th:href="@{/user}"><i class="zmdi zmdi-account"></i> Users </a>
                </li>
                <li class="@@typeactive "><a th:href="@{/office}"> <i class="zmdi zmdi-gps-dot"></i> Offices </a></li>
                <li class="navigation__sub @@tableactive navigation__active">
                    <a href="#"><i class="zmdi zmdi-filter-list"></i> Categories</a>

                    <ul>
                        <li class="@@datatableactive navigation__active"><a th:href="@{/brand}">Brands</a></li>
                        <li class="datatableactive"><a th:href="@{/category}">Types</a></li>
                    </ul>
                </li>
                <li class="navigation__sub @@formactive  ">
                    <a href="#"><i class="zmdi zmdi-car"></i> Cars</a>
                    <ul>
                        <li class="@@formelementactive"><a th:href="@{/car}">Car</a></li>
                        <li class="@@formelementactive"><a th:href="@{/key}">Details</a></li>

                    </ul>
                </li>
                <li class="@@photogalleryactive"><a th:href="@{/invoice}"><i class="zmdi zmdi-print"></i> Invoices</a></li>
            </ul>
        </div>
    </aside>
    <section class="content">
        <header class="content__title">
            <h1>Brands</h1>
        </header>

        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Brands</h2>
                <small class="card-subtitle">Here you can list brands, register, disable, enable, edit, search and print</small>
                <div class="actions">
                    <a data-ma-action="aside-open" data-ma-target=".chat" class="btn btn-danger btn--icon waves-effect"><i  style="color:white" class="zmdi zmdi-plus"></i></a>
                </div>
            </div>

            <aside class="chat">
                <div class="chat__header">
                    <h2 class="chat__title">Brand<small>Here you can register new brands</small></h2>
                </div>
                <!--/*@thymesVar id="OfficeComplex" type="java"*/-->
                <form id="brand-form" action="#" method="POST">
                    <div style="margin: 3%">
                        <div class="form-group form-group--select">
                            <label>Office</label>
                            <div class="select">
                                <select id="office" name="office" class="form-control" required="required">
                                    <option th:each="office : ${offices}" th:value="${office.id}" th:text="${office.officeId}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Brand name</label>
                            <input name="name" id="name" type="text" class="form-control" required="required" minlength="3" maxlength="10" placeholder="Enter your brand name" />
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input name="description" id="description" type="text" class="form-control" placeholder="Enter your description" minLength="3" maxLength="25" />
                            <i class="form-group__bar"></i>
                        </div>

                        <div id="message" class="alert alert-danger hide" style="display: none;"><strong>Danger!</strong>
                            <message> Indicates a dangerous or potentially negative action.</message>
                        </div>
                    </div>
                    <button type="submit" class="btn btn--action btn--fixed btn-danger"><i class="zmdi zmdi-plus"></i></button>

                </form>
            </aside>
            <script th:inline="javascript">
                $("#brand-form").on('submit', function(e) {
                    e.preventDefault();

                    var formData = {};
                    formData['name'] = $("#name").val();
                    formData['description'] = $("#description").val();
                    var office = $("#office").val();

                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/brand/" + office + "/",
                        data: JSON.stringify(formData),
                        dataType: 'json',
                        cache: false,
                        timeout: 600000,
                        success: function(response) {
                            if (response.success_msg != null) {
                                $("#message").attr("class", "alert alert-success");
                                $("#message").find("strong").html("Success!");
                                $("#message").find("message").html(response.success_msg);
                                $("#message").slideDown().delay(2000).slideUp(function(e) {
                                    $(".ma-backdrop").click();
                                    $('#brand-form')[0].reset();
                                    setTimeout(function() {
                                        location.reload();
                                    }, 500);

                                });

                            } else if (response.err_msg != null) {
                                $("#message").attr("class", "alert alert-danger");
                                $("#message").find("strong").html("Failture!");
                                $("#message").find("message").html(response.err_msg);
                                $("#message").slideDown().delay(2000).slideUp();
                            } else {
                                $("#message").attr("class", "alert alert-danger");
                                $("#message").find("strong").html("Error!");
                                $("#message").find("message").html("Error on XHR");
                                $("#message").slideDown().delay(2000).slideUp();
                            }
                        },
                        error: function() {
                            $("#message").attr("class", "alert alert-danger");
                            $("#message").find("strong").html("Error!");
                            $("#message").find("message").html("Error on XHR");
                            $("#message").slideDown().delay(2000).slideUp();

                        }
                    });
                })
            </script>




            <div class="card-block">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered">
                        <thead class="thead-default">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Office</th>
                            <th>Active</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Office</th>
                            <th>Active</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="brand : ${brands}">
                            <td th:text="${brand.id}"></td>
                            <td th:text="${brand.name}"></td>
                            <div th:switch="${brand.description != null}">
                                <td th:case="${true}" th:text="${brand.description}"></td>
                                <td th:case="${false}"><i>No description available</i></td>
                            </div>
                            <td th:text="${brand.office.officeId}"></td>
                            <div th:switch="${brand.active}">
                                <td th:case="${true}"><button th:onclick="'javascript:disable(' + ${brand.id} + ')'" data-toggle="tooltip" data-placement="left" title="Click to disable" class="btn btn-secondary btn--icon waves-effect"><i class="zmdi zmdi-close"></i></button><button th:onclick="'javascript:updateModal(' + ${brand.id} + ',\''+${brand.name}+'\',\''+${brand.description}+'\',\''+${brand.office.officeId}+'\','+${brand.office.id}+')'" class="btn btn-secondary btn--icon waves-effect" data-toggle="tooltip" data-placement="right" title="Click to edit"><i class="zmdi zmdi-edit"></i></button ></td>
                                <td th:case="${false} "><button th:onclick="'javascript:enable(' + ${brand.id} + ')'" data-toggle="tooltip" title="Click to enable" data-placement="right" class="btn btn-secondary btn--icon waves-effect"><i class="zmdi zmdi-check"></i></button></td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                    <script th:inline="javascript">
                        function disable(id) {
                            $.ajax({
                                type: "GET",
                                contentType: "application/json",
                                url: "/brand/disable/" + id,
                                dataType: 'json',
                                cache: false,
                                timeout: 600000,
                                success: function(response) {
                                    if (response.success_msg != null) {
                                        console.log(response.success_msg);
                                        location.reload();
                                    }
                                },
                                error: function() {}
                            });
                        }

                        function enable(id) {
                            $.ajax({
                                type: "GET",
                                contentType: "application/json",
                                url: "/brand/enable/" + id,
                                dataType: 'json',
                                cache: false,
                                timeout: 600000,
                                success: function(response) {
                                    if (response.success_msg != null) {
                                        location.reload();
                                    }
                                },
                                error: function() {}
                            });
                        }

                        function updateModal(id, name, description, office, officeID) {
                            $("#updateModal").click();
                            $("#modal-backdrop-ignore").modal();
                            $("#edit_id").val(id);
                            $("#edit_name").val(name);
                            $("#edit_description").val(description);
                            $("#edit_office").val(office);
                            // $("#edit_office_id").val(officeID);
                        }
                    </script>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-backdrop-ignore" data-backdrop="static" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="update-complex-form">
                        <div class="modal-header">
                            <h5 class="modal-title pull-left">Update <span id="modal_name"></span></h5>
                        </div>
                        <div class="modal-body">
                            <input disabled="disabled" hidden="hidden" name="edit_id" id="edit_id" type="text" class="form-control" placeholder="Enter your company name" />
                            <div class="form-group">
                                <label>Office</label>
                                <input type="text" disabled="disabled" id="edit_office" name="edit_office" class="form-control" placeholder="Enter your company's description" />
                                <i class="form-group__bar"></i>
                            </div>
                            <input type="text" hidden="hidden" disabled="disabled" id="edit_office_id" name="edit_office" class="form-control" placeholder="Enter your company's description" />

                            <div class="form-group">
                                <label>Name</label>
                                <input disabled="disabled" name="edit_name" id="edit_name" type="text" class="form-control" placeholder="Enter your company name" />
                                <i class="form-group__bar"></i>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input name="edit_description" id="edit_description" type="text" class="form-control" placeholder="Enter your company's slogan" />
                                <i class="form-group__bar"></i>
                            </div>

                            <div id="message2" class="alert alert-danger hide" style="display: none;"><strong>Danger!</strong>
                                <message> Indicates a dangerous or potentially negative action.</message>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-link">Save changes</button>
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
            <script th:inline="javascript">
                $("#update-complex-form").on('submit', function(e) {
                    e.preventDefault();
                    var formData = {};
                    formData['id'] = $("#edit_id").val();
                    formData['name'] = $("#edit_name").val();
                    formData['description'] = $("#edit_description").val();

                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/brand/update",
                        data: JSON.stringify(formData),
                        dataType: 'json',
                        cache: false,
                        timeout: 600000,
                        success: function(response) {
                            if (response.success_msg != null) {
                                $("#message2").attr("class", "alert alert-success");
                                $("#message2").find("strong").html("Success!");
                                $("#message2").find("message").html(response.success_msg);
                                $("#message2").slideDown().delay(2000).slideUp(function(e) {
                                    $('#modal-backdrop-ignore').modal('toggle');
                                    setTimeout(function() {
                                        location.reload();
                                    }, 500);

                                });
                            } else if (response.err_msg != null) {
                                $("#message2").attr("class", "alert alert-danger");
                                $("#message2").find("strong").html("Failture!");
                                $("#message2").find("message").html(response.err_msg);
                                $("#message2").slideDown().delay(2000).slideUp();
                            } else {
                                $("#message2").attr("class", "alert alert-danger");
                                $("#message2").find("strong").html("Error!");
                                $("#message2").find("message").html("Error on XHR");
                                $("#message2").slideDown().delay(2000).slideUp();
                            }
                        },
                        error: function() {

                        }
                    });
                });
            </script>
        </div>

        <footer class="footer hidden-xs-down">
            <p>© Heart Car. Rental Car Management System.</p>
        </footer>
    </section>
</main>
<script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/vendors/bower_components/tether/dist/js/tether.min.js"></script>
<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendors/bower_components/Waves/dist/waves.min.js"></script>
<script src="/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js"></script>
<script src="/vendors/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/vendors/bower_components/jszip/dist/jszip.min.js"></script>
<script src="/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/js/app.min.js"></script>
</body>


</html>